In [1]:
import pandas as pd
x = pd.Series([34, 12, 23, 45])
print(x)
x.dtype

0    34
1    12
2    23
3    45
dtype: int64

dtype('int64')

In [2]:
import pandas as pd
data = {'month': ['Jan', 'Feb', 'Mar'],
        'temp': [-5, 2, 3],
         'below_zero': [True, False, False]}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False

    Welches Skalenniveau besitzen die Variablen im obigen Beispiel?
    month: nominal
    temp: kardinal
    below_zero: nominal
    
    Sind die Variablen stetig oder diskret?
    month: diskret
    temp: eigentlich stetig, hier aber gruppiert (Nachkommastellen gestrichen)
    below_zero: diskret
    
    Was ist der Datentyp jeder einzelnen Spalte?
    month: Freitext = object
    temp: (signed)
    Erweitere das Python-Dictionary und
        erstelle eine neue Zeile mit den Werten ('Apr', 5, False)
        erstelle eine neue Spalte year mit den Werten (2020, 2020, 2020, 2020)

In [3]:
new_row = {'month':'Apr', 'temp':5, 'below_zero':False}
df = df.append(new_row, ignore_index=True)
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False
3   Apr     5       False

In [4]:
year = ['2020', '2020', '2020', '2020']
df['year'] = year
print(df)

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr     5       False  2020

In [5]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0

In [6]:
df.to_json("../data/Library_Usage.json")
print("Saved as JSON")

Saved as JSON

In [7]:
df2 = pd.read_csv("../data/Library_Usage_Small.csv")
df2.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0

In [8]:
df2.to_json("../data/Library_Usage_Small.json")
print("Saved as JSON")

Saved as JSON

In [9]:
df3 = pd.read_json("../data/Library_Usage_Small.json")
df3.to_html("../data/Library_Usage_Small.html")
print("Saved as HTML")

Saved as HTML

In [10]:
df4_list = pd.read_html("../data/Library_Usage_Small.html")
df4_list[0]
df4 = pd.DataFrame(df4_list[0])
df4.to_excel("../data/Library_Usage_Small.xlsx")
print("Saved as EXCEL")

Saved as EXCEL

In [11]:
df5 = pd.read_excel("../data/Library_Usage_Small.xlsx")
df5.to_csv("../data/Library_Usage_Small_DONE.csv")
print("Saved as CSV")

Saved as CSV

In [12]:
df6 = pd.read_csv("../data/Library_Usage_Small_DONE.csv")
#df6.compare(df2)
df6.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,0,0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,1,1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,2,2,2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,3,3,3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,4,4,4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0

In [13]:
df2.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0

Vergleiche Sie die originale .csv Version mit der Version, nach der Datenrundreise. Ist alles gleich geblieben?

Nein, die Label haben andere Positionen

In [14]:
#https://stackoverflow.com/questions/57203726/pandas-sort-columns-by-name

#from natsort import natsorted

#df2_new = df2.reindex(natsorted(df2.columns), axis=1)
#df6_new = df6.reindex(natsorted(df6.columns), axis=1)

df2_new = df2.sort_index(axis=1, inplace=False)
df6_new = df6.sort_index(axis=1, inplace=False)

df2_new.head()

#df2_new.compare(df6_new)

,Age Range,Circulation Active Month,Circulation Active Year,Home Library Code,Home Library Definition,Notice Preference Code,Notice Preference Definition,Outside of County,Patron Type Code,Patron Type Definition,Provided Email Address,Supervisor District,Total Checkouts,Total Renewals,Year Patron Registered
0,10 to 19 years,July,2016,V3,Visitacion Valley,p,phone,False,1,JUVENILE,False,10.0,518,8,2010
1,0 to 9 years,June,2016,P1,Park,z,email,False,1,JUVENILE,True,4.0,38,0,2015
2,10 to 19 years,November,2008,N4,Noe Valley/Sally Brunn,z,email,False,0,ADULT,True,8.0,38,4,2003
3,20 to 24 years,February,2013,O7,Ortega,p,phone,False,0,ADULT,False,10.0,48,48,2004
4,0 to 9 years,June,2016,E9,Excelsior,z,email,False,1,JUVENILE,True,11.0,28,13,2014

In [15]:
df6_new.head()

,Age Range,Circulation Active Month,Circulation Active Year,Home Library Code,Home Library Definition,Notice Preference Code,Notice Preference Definition,Outside of County,Patron Type Code,Patron Type Definition,Provided Email Address,Supervisor District,Total Checkouts,Total Renewals,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Year Patron Registered
0,10 to 19 years,July,2016,V3,Visitacion Valley,p,phone,False,1,JUVENILE,False,10.0,518,8,0,0,0,2010
1,0 to 9 years,June,2016,P1,Park,z,email,False,1,JUVENILE,True,4.0,38,0,1,1,1,2015
2,10 to 19 years,November,2008,N4,Noe Valley/Sally Brunn,z,email,False,0,ADULT,True,8.0,38,4,2,2,2,2003
3,20 to 24 years,February,2013,O7,Ortega,p,phone,False,0,ADULT,False,10.0,48,48,3,3,3,2004
4,0 to 9 years,June,2016,E9,Excelsior,z,email,False,1,JUVENILE,True,11.0,28,13,4,4,4,2014

In [16]:
# unnamed columns must be removed

df6_new.keys()

df6_new.drop('Unnamed: 0', inplace=True, axis=1)
df6_new.drop('Unnamed: 0.1', inplace=True, axis=1)
df6_new.drop('Unnamed: 0.1.1', inplace=True, axis=1)

df6_new.head()

,Age Range,Circulation Active Month,Circulation Active Year,Home Library Code,Home Library Definition,Notice Preference Code,Notice Preference Definition,Outside of County,Patron Type Code,Patron Type Definition,Provided Email Address,Supervisor District,Total Checkouts,Total Renewals,Year Patron Registered
0,10 to 19 years,July,2016,V3,Visitacion Valley,p,phone,False,1,JUVENILE,False,10.0,518,8,2010
1,0 to 9 years,June,2016,P1,Park,z,email,False,1,JUVENILE,True,4.0,38,0,2015
2,10 to 19 years,November,2008,N4,Noe Valley/Sally Brunn,z,email,False,0,ADULT,True,8.0,38,4,2003
3,20 to 24 years,February,2013,O7,Ortega,p,phone,False,0,ADULT,False,10.0,48,48,2004
4,0 to 9 years,June,2016,E9,Excelsior,z,email,False,1,JUVENILE,True,11.0,28,13,2014

In [17]:
df2_new.compare(df6_new)

Empty DataFrame
Columns: []
Index: []

# Jetzt sind alle Daten wieder gleich!

In [18]:
df6_new.memory_usage(deep=True)

Index                            128
Age Range                       1404
Circulation Active Month        1238
Circulation Active Year         1220
Home Library Code               1178
Home Library Definition         1346
Notice Preference Code          1160
Notice Preference Definition    1240
Outside of County                 20
Patron Type Code                 160
Patron Type Definition          1290
Provided Email Address            20
Supervisor District              160
Total Checkouts                  160
Total Renewals                   160
Year Patron Registered           160
dtype: int64

In [42]:
import pandas as pd
#df = pd.read_csv("../data/Library_Usage_Small.csv")
df = pd.read_csv("../data/Library_Usage.csv")
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [43]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(x)
print(subset)

0          0
1         22
2          0
3          0
4         11
          ..
423443    13
423444    11
423445    58
423446     0
423447     0
Name: Total Renewals, Length: 423448, dtype: int64
        Total Renewals  Total Checkouts
0                    0                0
1                   22               31
2                    0                0
3                    0                0
4                   11              126
...                ...              ...
423443              13              291
423444              11               15
423445              58              208
423446               0               26
423447               0                0

[423448 rows x 2 columns]

In [44]:
#df['dummy_variable'] = 5

In [45]:
#x = df['Total Renewals']
#df['Total Renewals'] = 5
#x

In [46]:
import numpy as np

df['is_adult'] = df['Patron Type Definition'] == 'ADULT'
df['log_renewals'] = np.log(df['Total Renewals'] + 1)

In [47]:
df['Circulation Active Year'] = pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)

In [48]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B"
)

In [49]:
#df = df.dropna()
#df

In [50]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month

In [51]:
df['Membership Duration'] = (df['Circulation Active Year'] - df['Year Patron Registered'])*12 + df['Circulation Active Month']
df['Membership Duration']

0           NaN
1          76.0
2           NaN
3           NaN
4         157.0
          ...
423443     75.0
423444      7.0
423445     31.0
423446    148.0
423447      NaN
Name: Membership Duration, Length: 423448, dtype: float64

In [52]:
df['Membership Duration'] = df['Membership Duration'].fillna(0)

In [53]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals,Membership Duration
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,True,0.000000,0.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0,True,3.135494,76.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,True,0.000000,0.0
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,True,0.000000,0.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0,True,2.484907,157.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,3.0,2015.0,p,phone,False,2009,False,9.0,True,2.639057,75.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,7.0,2016.0,z,email,True,2016,False,6.0,True,2.484907,7.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,7.0,2016.0,z,email,True,2014,False,9.0,False,4.077537,31.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,4.0,2015.0,z,email,True,2003,False,9.0,True,0.000000,148.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaN,NaN,a,print,False,2015,False,8.0,False,0.000000,0.0

In [54]:
import pandas as pd
#df = pd.read_csv("../data/Library_Usage.csv")
df.loc[df['Total Checkouts'] > 10000]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals,Membership Duration
851,9,SPECIAL,18064,2268,60 to 64 years,X,Main Library,7.0,2016.0,p,phone,False,2003,False,NaN,False,7.727094,163.0
1963,0,ADULT,10521,621,60 to 64 years,X,Main Library,7.0,2016.0,p,phone,False,2003,False,6.0,True,6.432940,163.0
3499,0,ADULT,12740,2209,45 to 54 years,C2,Chinatown,7.0,2016.0,z,email,True,2003,False,3.0,True,7.700748,163.0
20042,3,SENIOR,16060,66,65 to 74 years,C2,Chinatown,7.0,2016.0,a,print,False,2003,False,3.0,False,4.204693,163.0
31315,0,ADULT,13784,74,60 to 64 years,M4,Merced,6.0,2016.0,z,email,True,2003,False,11.0,True,4.317488,162.0
39585,0,ADULT,11086,1083,35 to 44 years,C2,Chinatown,7.0,2016.0,p,phone,False,2003,False,3.0,True,6.988413,163.0
57239,0,ADULT,10906,1421,45 to 54 years,P1,Park,7.0,2016.0,z,email,True,2003,False,8.0,True,7.259820,163.0
86662,3,SENIOR,11748,963,65 to 74 years,X,Main Library,7.0,2016.0,z,email,True,2003,False,5.0,False,6.871091,163.0
117628,0,ADULT,11817,2859,45 to 54 years,S7,Sunset,7.0,2016.0,z,email,True,2003,False,4.0,True,7.958577,163.0
120604,3,SENIOR,10108,59,65 to 74 years,X,Main Library,11.0,2013.0,p,phone,False,2003,False,6.0,False,4.094345,131.0
129341,3,SENIOR,12757,500,65 to 74 years,R3,Richmond,7.0,2016.0,p,phone,False,2004,False,NaN,False,6.216606,151.0
138351,0,ADULT,10809,24,20 to 24 years,S7,Sunset,7.0,2016.0,z,email,True,2010,False,4.0,True,3.218876,79.0
145600,3,SENIOR,11871,50,65 to 74 years,M4,Merced,7.0,2016.0,z,email,True,2003,False,7.0,False,3.931826,163.0
146615,0,ADULT,24093,383,45 to 54 years,X,Main Library,7.0,2016.0,p,phone,True,2003,False,4.0,True,5.950643,163.0
156806,0,ADULT,17308,257,60 to 64 years,X,Main Library,7.0,2016.0,z,email,True,2003,False,6.0,True,5.552960,163.0
163893,3,SENIOR,25223,448,65 to 74 years,X,Main Library,7.0,2016.0,p,phone,False,2006,False,9.0,False,6.107023,127.0
176606,0,ADULT,10371,1345,55 to 59 years,S7,Sunset,7.0,2016.0,z,email,True,2003,False,4.0,True,7.204893,163.0
200204,3,SENIOR,18397,6,65 to 74 years,X,Main Library,7.0,2016.0,z,email,True,2005,False,NaN,False,1.945910,139.0
216300,0,ADULT,12950,1548,60 to 64 years,O7,Ortega,7.0,2016.0,z,email,True,2003,False,4.0,True,7.345365,163.0
222889,3,SENIOR,14502,3517,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,7.0,2016.0,z,email,True,2006,False,8.0,False,8.165648,127.0
227568,3,SENIOR,11147,123,65 to 74 years,M6,Mission,7.0,2016.0,a,print,False,2003,False,NaN,False,4.820282,163.0
231807,3,SENIOR,11896,1408,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,7.0,2016.0,z,email,True,2003,False,8.0,False,7.250636,163.0
237668,0,ADULT,15505,294,60 to 64 years,X,Main Library,7.0,2016.0,p,phone,False,2004,False,6.0,True,5.686975,151.0
255021,3,SENIOR,11102,2652,65 to 74 years,X,Main Library,7.0,2016.0,z,email,True,2003,False,NaN,False,7.883446,163.0
278408,3,SENIOR,11366,62,65 to 74 years,X,Main Library,7.0,2016.0,z,email,True,2003,False,8.0,False,4.143135,163.0
288655,0,ADULT,15598,228,55 to 59 years,X,Main Library,7.0,2016.0,p,phone,False,2003,False,11.0,True,5.433722,163.0
290980,0,ADULT,12733,60,45 to 54 years,X,Main Library,7.0,2016.0,z,email,True,2003,False,8.0,True,4.110874,163.0
293371,0,ADULT,35907,116,35 to 44 years,V3,Visitacion Valley,7.0,2016.0,p,phone,False,2003,False,NaN,True,4.762174,163.0
294129,0,ADULT,10863,57,45 to 54 years,M6,Mission,7.0,2016.0,p,phone,False,2003,False,6.0,True,4.060443,163.0
330536,3,SENIOR,10637,148,75 years and over,C2,Chinatown,1.0,2015.0,p,phone,False,2003,False,3.0,False,5.003946,145.0
401287,5,STAFF,13362,1926,0 to 9 years,X,Main Library,7.0,2016.0,z,email,True,2004,True,NaN,False,7.563720,151.0

In [55]:
row_filter = df['Total Checkouts'] > 10000
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals,Membership Duration
851,9,SPECIAL,18064,2268,60 to 64 years,X,Main Library,7.0,2016.0,p,phone,False,2003,False,NaN,False,7.727094,163.0
1963,0,ADULT,10521,621,60 to 64 years,X,Main Library,7.0,2016.0,p,phone,False,2003,False,6.0,True,6.432940,163.0
3499,0,ADULT,12740,2209,45 to 54 years,C2,Chinatown,7.0,2016.0,z,email,True,2003,False,3.0,True,7.700748,163.0
20042,3,SENIOR,16060,66,65 to 74 years,C2,Chinatown,7.0,2016.0,a,print,False,2003,False,3.0,False,4.204693,163.0
31315,0,ADULT,13784,74,60 to 64 years,M4,Merced,6.0,2016.0,z,email,True,2003,False,11.0,True,4.317488,162.0
39585,0,ADULT,11086,1083,35 to 44 years,C2,Chinatown,7.0,2016.0,p,phone,False,2003,False,3.0,True,6.988413,163.0
57239,0,ADULT,10906,1421,45 to 54 years,P1,Park,7.0,2016.0,z,email,True,2003,False,8.0,True,7.259820,163.0
86662,3,SENIOR,11748,963,65 to 74 years,X,Main Library,7.0,2016.0,z,email,True,2003,False,5.0,False,6.871091,163.0
117628,0,ADULT,11817,2859,45 to 54 years,S7,Sunset,7.0,2016.0,z,email,True,2003,False,4.0,True,7.958577,163.0
120604,3,SENIOR,10108,59,65 to 74 years,X,Main Library,11.0,2013.0,p,phone,False,2003,False,6.0,False,4.094345,131.0
129341,3,SENIOR,12757,500,65 to 74 years,R3,Richmond,7.0,2016.0,p,phone,False,2004,False,NaN,False,6.216606,151.0
138351,0,ADULT,10809,24,20 to 24 years,S7,Sunset,7.0,2016.0,z,email,True,2010,False,4.0,True,3.218876,79.0
145600,3,SENIOR,11871,50,65 to 74 years,M4,Merced,7.0,2016.0,z,email,True,2003,False,7.0,False,3.931826,163.0
146615,0,ADULT,24093,383,45 to 54 years,X,Main Library,7.0,2016.0,p,phone,True,2003,False,4.0,True,5.950643,163.0
156806,0,ADULT,17308,257,60 to 64 years,X,Main Library,7.0,2016.0,z,email,True,2003,False,6.0,True,5.552960,163.0
163893,3,SENIOR,25223,448,65 to 74 years,X,Main Library,7.0,2016.0,p,phone,False,2006,False,9.0,False,6.107023,127.0
176606,0,ADULT,10371,1345,55 to 59 years,S7,Sunset,7.0,2016.0,z,email,True,2003,False,4.0,True,7.204893,163.0
200204,3,SENIOR,18397,6,65 to 74 years,X,Main Library,7.0,2016.0,z,email,True,2005,False,NaN,False,1.945910,139.0
216300,0,ADULT,12950,1548,60 to 64 years,O7,Ortega,7.0,2016.0,z,email,True,2003,False,4.0,True,7.345365,163.0
222889,3,SENIOR,14502,3517,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,7.0,2016.0,z,email,True,2006,False,8.0,False,8.165648,127.0
227568,3,SENIOR,11147,123,65 to 74 years,M6,Mission,7.0,2016.0,a,print,False,2003,False,NaN,False,4.820282,163.0
231807,3,SENIOR,11896,1408,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,7.0,2016.0,z,email,True,2003,False,8.0,False,7.250636,163.0
237668,0,ADULT,15505,294,60 to 64 years,X,Main Library,7.0,2016.0,p,phone,False,2004,False,6.0,True,5.686975,151.0
255021,3,SENIOR,11102,2652,65 to 74 years,X,Main Library,7.0,2016.0,z,email,True,2003,False,NaN,False,7.883446,163.0
278408,3,SENIOR,11366,62,65 to 74 years,X,Main Library,7.0,2016.0,z,email,True,2003,False,8.0,False,4.143135,163.0
288655,0,ADULT,15598,228,55 to 59 years,X,Main Library,7.0,2016.0,p,phone,False,2003,False,11.0,True,5.433722,163.0
290980,0,ADULT,12733,60,45 to 54 years,X,Main Library,7.0,2016.0,z,email,True,2003,False,8.0,True,4.110874,163.0
293371,0,ADULT,35907,116,35 to 44 years,V3,Visitacion Valley,7.0,2016.0,p,phone,False,2003,False,NaN,True,4.762174,163.0
294129,0,ADULT,10863,57,45 to 54 years,M6,Mission,7.0,2016.0,p,phone,False,2003,False,6.0,True,4.060443,163.0
330536,3,SENIOR,10637,148,75 years and over,C2,Chinatown,1.0,2015.0,p,phone,False,2003,False,3.0,False,5.003946,145.0
401287,5,STAFF,13362,1926,0 to 9 years,X,Main Library,7.0,2016.0,z,email,True,2004,True,NaN,False,7.563720,151.0

In [56]:
row_filter = (df['Patron Type Definition'] == 'SENIOR') & (df['Notice Preference Definition'] == 'email')
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals,Membership Duration
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,NaN,NaN,z,email,True,2015,True,NaN,False,0.000000,0.0
62,3,SENIOR,193,90,65 to 74 years,A5,Anza,7.0,2016.0,z,email,True,2007,False,1.0,False,4.510860,115.0
176,3,SENIOR,7,8,65 to 74 years,X,Main Library,4.0,2014.0,z,email,True,2012,True,NaN,False,2.197225,28.0
260,3,SENIOR,341,212,65 to 74 years,P1,Park,7.0,2016.0,z,email,True,2003,False,5.0,False,5.361292,163.0
294,3,SENIOR,67,26,75 years and over,P5,Portola,7.0,2016.0,z,email,True,2009,False,9.0,False,3.295837,91.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423359,3,SENIOR,4,0,75 years and over,W4,Western Addition,5.0,2013.0,z,email,True,2012,False,5.0,False,0.000000,17.0
423388,3,SENIOR,25,34,75 years and over,X,Main Library,5.0,2016.0,z,email,True,2015,True,NaN,False,3.555348,17.0
423403,3,SENIOR,458,129,75 years and over,E9,Excelsior,6.0,2016.0,z,email,True,2003,True,NaN,False,4.867534,162.0
423405,3,SENIOR,280,27,75 years and over,X,Main Library,7.0,2016.0,z,email,True,2003,False,9.0,False,3.332205,163.0
423431,3,SENIOR,0,0,75 years and over,X,Main Library,NaN,NaN,z,email,True,2012,False,6.0,False,0.000000,0.0

In [57]:
filter1 = (df['Total Checkouts'] >= 20) & (df['Total Checkouts'] <= 80)
filter2 =  df['Total Checkouts'].between(20, 80)
all(filter1 == filter2)

True

## Aufgabe 2.6
    Filtere den Datensatz nach Kindern unter 10 Jahren. Wie viele Einträge erhältst Du?
    38242 Einträge 
    
    Gibt es Personen mit mehr als 20000 Ausleihen?
    ja, 3 Personen
    
    Wie viele Personen stammen aus dem Norden San Franciscos (Supervisor Districts) 1, 2 und 3)? Nutze die Funktion Series.isin().
    70091 Personen
    
    Wie viele Prozent der Beobachtungen haben eine Membership Duration von Null Monaten?
    16.035971358938998 Prozent

In [67]:
df.loc[df['Age Range'] == '0 to 9 years'].shape[0]

38242

In [68]:
df.loc[df['Total Checkouts'] > 20000].shape[0]

3

In [69]:
df.loc[df['Supervisor District'].isin([1, 2, 3])].shape[0]

70091

In [66]:
(df.loc[df['Membership Duration'] == 0].shape[0] / df.shape[0] * 100)

16.035971358938998

In [70]:
import pandas as pd

df = pd.read_csv("../data/Library_Usage.csv")
df['Circulation Active Year']

0         None
1         2016
2         None
3         None
4         2016
          ...
423443    2015
423444    2016
423445    2016
423446    2015
423447    None
Name: Circulation Active Year, Length: 423448, dtype: object

In [71]:
# Kodierung für fehlende Werte angeben

df = pd.read_csv("../data/Library_Usage.csv", na_values="None")
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64

In [72]:
# oder explizite Umwandlung nach import
df = pd.read_csv("../data/Library_Usage.csv", na_values="None")
df['Circulation Active Year'] = pd.to_numeric(df['Circulation Active Year'], errors='coerce')
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64

## Aufgabe 2.7
Was unterscheidet den Wert None vom Wert "None"?
None ist eine null variable -> pointer auf null object -> NoneType
"None" wäre eigentlich ein String...in Dataframes ein object

Was den Wert 5 vom Wert "5"?
5 ist int
"5" ist String

Was den Wert "NaN" vom Wert NaN?
"NaN" ist ein String
NaN ist Pandas null variable -> Not a Number -> numpy.float64


Ist True und "True" das gleiche?
Nein, True ist bool, "True" ist String, daher !=

In [76]:
i = None
j = "None"
print(type(i))
print(type(j))

<class 'NoneType'>
<class 'str'>

In [77]:
i = 5
j = "5"
print(type(i))
print(type(j))

<class 'int'>
<class 'str'>

In [80]:
i = df.loc[0]['Circulation Active Year']
j = "5"
print(i)
print(type(i))
print(type(j))

nan
<class 'numpy.float64'>
<class 'str'>

In [81]:
i = True
j = "True"

print(type(i))
print(type(j))

i == j

<class 'bool'>
<class 'str'>

False

In [86]:
df[df['Age Range'].isna()]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
30,0,ADULT,2,0,NaN,M2,Marina,September,2013.0,z,email,True,2013,False,3.0
37,0,ADULT,0,0,NaN,X,Main Library,NaN,NaN,z,email,True,2014,False,3.0
42,0,ADULT,4,0,NaN,P9,Presidio,July,2013.0,z,email,True,2013,False,2.0
201,0,ADULT,23,2,NaN,X,Main Library,August,2015.0,z,email,True,2013,True,NaN
221,0,ADULT,2,0,NaN,N6,North Beach,August,2014.0,z,email,True,2014,False,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300360,0,ADULT,2,2,NaN,G6,Golden Gate Valley,September,2014.0,z,email,True,2014,False,2.0
301301,0,ADULT,0,0,NaN,W2,West Portal,NaN,NaN,p,phone,False,2013,True,NaN
302058,0,ADULT,0,0,NaN,I5,Ingleside,NaN,NaN,z,email,True,2013,False,11.0
302082,0,ADULT,9,18,NaN,X,Main Library,June,2014.0,z,email,True,2014,True,NaN
304824,1,JUVENILE,36,0,NaN,B2,Bayview/Linda Brooks-Burton,September,2013.0,p,phone,False,2013,False,NaN

In [84]:
df[df['Age Range'].notna()]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016.0,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016.0,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015.0,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016.0,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016.0,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015.0,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaN,NaN,a,print,False,2015,False,8.0

In [87]:
# fehlende Werte direkt summiert darstellen
df.isna().sum()

Patron Type Code                     0
Patron Type Definition               0
Total Checkouts                      0
Total Renewals                       0
Age Range                          215
Home Library Code                   40
Home Library Definition              0
Circulation Active Month         67904
Circulation Active Year          67904
Notice Preference Code               0
Notice Preference Definition         0
Provided Email Address               0
Year Patron Registered               0
Outside of County                    0
Supervisor District             110310
dtype: int64

In [88]:
# drops all rows that contain at least one missing values
df.dropna()
# drops all missing values in this series
df['Age Range'].dropna()

0         20 to 24 years
1         25 to 34 years
2         45 to 54 years
3         25 to 34 years
4         45 to 54 years
               ...
423443    10 to 19 years
423444    60 to 64 years
423445      0 to 9 years
423446    10 to 19 years
423447      0 to 9 years
Name: Age Range, Length: 423233, dtype: object

In [89]:
df['Age Range'].fillna("keine Angabe")

0         20 to 24 years
1         25 to 34 years
2         45 to 54 years
3         25 to 34 years
4         45 to 54 years
               ...
423443    10 to 19 years
423444    60 to 64 years
423445      0 to 9 years
423446    10 to 19 years
423447      0 to 9 years
Name: Age Range, Length: 423448, dtype: object

## Aufgabe 2.8
    Welche Spalten enthalten alles fehlende Werte?
    Age Range
    Home Library Code
    Circulation Active Month
    Circulation Active Year
    Supervisor District
    
    Lies den Datensatz ein und erstelle einen DataFrame der keine Beobachtungen mit fehlenden Werten mehr enthält.
    -> erledigt!
    
    Speichere diesen unter dem Namen Library_Usage_Clean.csv ab.
    -> erledigt!
    
    Wie viele Beobachtungen wurden dabei entfernt?
    148321

In [90]:
df.isna().sum()

Patron Type Code                     0
Patron Type Definition               0
Total Checkouts                      0
Total Renewals                       0
Age Range                          215
Home Library Code                   40
Home Library Definition              0
Circulation Active Month         67904
Circulation Active Year          67904
Notice Preference Code               0
Notice Preference Definition         0
Provided Email Address               0
Year Patron Registered               0
Outside of County                    0
Supervisor District             110310
dtype: int64

In [94]:
df = pd.read_csv("../data/Library_Usage.csv", na_values="None")
df2 = df.dropna()
df2.isna().sum()

Patron Type Code                0
Patron Type Definition          0
Total Checkouts                 0
Total Renewals                  0
Age Range                       0
Home Library Code               0
Home Library Definition         0
Circulation Active Month        0
Circulation Active Year         0
Notice Preference Code          0
Notice Preference Definition    0
Provided Email Address          0
Year Patron Registered          0
Outside of County               0
Supervisor District             0
dtype: int64

In [95]:
df2.to_csv('../data/Library_Usage_Clean.csv')

In [96]:
df.shape[0] - df2.shape[0]

148321

In [99]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
#df.head()
df.head(100)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,ADULT,0,0,35 to 44 years,X,Main Library,None,None,z,email,True,2012,False,1.0
96,0,ADULT,11,0,20 to 24 years,X,Main Library,September,2015,z,email,True,2015,False,NaN
97,0,ADULT,160,44,25 to 34 years,R3,Richmond,May,2015,z,email,True,2003,False,1.0
98,0,ADULT,11,3,35 to 44 years,M2,Marina,March,2014,z,email,True,2003,False,NaN
99,0,ADULT,40,0,45 to 54 years,O7,Ortega,April,2015,p,phone,True,2003,False,4.0

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423448 entries, 0 to 423447
Data columns (total 15 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Patron Type Code              423448 non-null  int64
 1   Patron Type Definition        423448 non-null  object
 2   Total Checkouts               423448 non-null  int64
 3   Total Renewals                423448 non-null  int64
 4   Age Range                     423233 non-null  object
 5   Home Library Code             423408 non-null  object
 6   Home Library Definition       423448 non-null  object
 7   Circulation Active Month      423448 non-null  object
 8   Circulation Active Year       423448 non-null  object
 9   Notice Preference Code        423448 non-null  object
 10  Notice Preference Definition  423448 non-null  object
 11  Provided Email Address        423448 non-null  bool
 12  Year Patron Registered        423448 non-null  int64
 13  Outside of County             423448 non-null  bool
 14  Supervisor District           313138 non-null  float64
dtypes: bool(2), float64(1), int64(4), object(8)
memory usage: 42.8+ MB

In [101]:
df.describe(include='all')

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
count,423448.000000,423448,423448.000000,423448.000000,423233,423408,423448,423448,423448,423448,423448,423448,423448.000000,423448,313138.000000
unique,NaN,18,NaN,NaN,10,79,35,13,15,4,4,2,NaN,2,NaN
top,NaN,ADULT,NaN,NaN,25 to 34 years,X,Main Library,July,2016,z,email,True,NaN,False,NaN
freq,NaN,272251,NaN,NaN,91083,124814,124814,91566,147901,323937,323937,336420,NaN,359628,NaN
mean,1.036765,NaN,161.982097,59.657327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.348917,NaN,6.288240
std,4.188198,NaN,453.703678,225.009917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.357374,NaN,3.123634
min,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,1.000000
25%,0.000000,NaN,2.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.000000,NaN,4.000000
50%,0.000000,NaN,19.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.000000,NaN,6.000000
75%,1.000000,NaN,113.000000,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000,NaN,9.000000
max,104.000000,NaN,35907.000000,8965.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.000000,NaN,11.000000

In [106]:
print(df.min())
print("PRINT 'Total Renewals': " + str(df['Total Renewals'].min()))

Patron Type Code                    0
Patron Type Definition          ADULT
Total Checkouts                     0
Total Renewals                      0
Home Library Definition          Anza
Circulation Active Month        April
Circulation Active Year          2003
Notice Preference Code              -
Notice Preference Definition    email
Provided Email Address          False
Year Patron Registered           2003
Outside of County               False
Supervisor District               1.0
dtype: object
PRINT 'Total Renewals': 0

/tmp/ipykernel_5065/4085429807.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.min())

In [107]:
df['Total Renewals'].sum()
df['Total Renewals'].between(100, 200).sum()

21739

In [113]:
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [114]:
df.dtypes

Patron Type Code                  int64
Patron Type Definition           object
Total Checkouts                   int64
Total Renewals                    int64
Age Range                        object
Home Library Code                object
Home Library Definition          object
Circulation Active Month         object
Circulation Active Year          object
Notice Preference Code           object
Notice Preference Definition     object
Provided Email Address             bool
Year Patron Registered            int64
Outside of County                  bool
Supervisor District             float64
dtype: object

In [115]:
df.shape

(423448, 15)